<style>
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        

    }
   
    .level{
        display:flex;
        margin:10px;
        justify-content: space-between;
        width:600px;
    }

    .answers{
        width: 600px;
        display: flex;
        justify-content: space-between;
    }
     .value{
        padding:5px;
        margin: 5px;
        background:#8257e6;
        color:#fff;
        border-radius: 6px;
        width:40px;
        text-align: center;
        text-decoration: none;
    }
    .value a{
          width:40px;
    }

</style>

<div class='container'>
    <label>Olá <strong>{{variables.name}}</strong>! Tudo bem?</label>

    <h3>{{variables.title}}</h3>
    <br/>

    <strong>{{variables.description}}</strong>

    <div class='level'>
        <span>Pouco Provável</span>
        <span>Muito Provável</span>
    </div>

    <div class='answers'>
        <a  class='value' href="{{variables.link}}/1?u={{variables.id}}" target='_blank'>1</a>
        <a  class='value' href="{{variables.link}}/2?u={{variables.id}}" target='_blank'>2</a>
        <a  class='value' href="{{variables.link}}/3?u={{variables.id}}" target='_blank'>3</a>
        <a  class='value' href="{{variables.link}}/4?u={{variables.id}}" target='_blank'>4</a>
        <a  class='value' href="{{variables.link}}/5?u={{variables.id}}" target='_blank'>5</a>
        <a  class='value' href="{{variables.link}}/6?u={{variables.id}}" target='_blank'>6</a>
        <a  class='value' href="{{variables.link}}/7?u={{variables.id}}" target='_blank'>7</a>
        <a  class='value' href="{{variables.link}}/8?u={{variables.id}}" target='_blank'>8</a>
        <a  class='value' href="{{variables.link}}/9?u={{variables.id}}" target='_blank'>9</a>
        <a  class='value' href="{{variables.link}}/10?u={{variables.id}}" target='_blank'>10</a>
    </div>

    <strong>Sua opinião é muito importante para nós</strong>
    <h3>Equipe | <strong>NLW</strong></h3>

</div>